@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fcf7ed;
  font-family: var(--font-quicksand);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  ul li a:hover {
    border-bottom: 1px solid black;
  }
}

.custom-list {
  list-style-type: none;
  padding-left: 1.25rem; /* Adjust to your preference */
  position: relative;
}

.custom-list li {
  position: relative;
  padding-left: 0.75rem; /* Adjust to your preference */
}

.custom-list li::before {
  content: "o";
  position: absolute;
  left: -1.25rem; /* Adjust to your preference */
  color: #f9d860; /* Your custom color (e.g., Tailwind blue-500) */
}
